@tailwind base;
@tailwind components;
@tailwind utilities;

.purpleHollow{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(42,8,112,1) 40%);
color: #fff;
}

.height-custom {
  min-height: calc(100vh - 100px);
}

.whiteHollow{
background: rgb(42,8,112);
background: radial-gradient(circle, rgba(42,8,112,1) 0%, rgba(255,255,255,1) 40%);
color: #8612F1;
}

.whiteSolid{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 40%);
color: white;
}

.blackSolid{
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 40%);
color: black;
}

.spinner{
  animation: spinner 1.4s linear 0s infinite forwards normal;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}