@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBg{
    background: rgb(136,18,244);
background: radial-gradient(circle, rgba(136,18,244,1) 0%, rgba(30,7,95,1) 100%);
color: white;
}

.height-custom {
  height: calc(100vh - 100px);
}